.hero-unit
  %h1
    %i.icon-file{:style => 'padding-top: 28px; padding-right: 28px;'}
    About
  %br
  %p
    %small
      =image_tag('/assets/emojis/dog.png', :width => 40, :height => 40)
      =image_tag('/assets/emojis/rabbit.png', :width => 40, :height => 40)
      =image_tag('/assets/emojis/heart.png', :width => 40, :height => 40)
      =image_tag('/assets/emojis/books.png', :width => 40, :height => 40)
      =image_tag('/assets/emojis/computer.png', :width => 40, :height => 40)